// 共通
// ヘッダー

body {
    margin: 0;
}

.header-menus {
    display: flex;
    justify-content: flex-end;
    gap:10px;
    list-style: none;
}

// home
.first-view {
    background-image: url("/images/cover-lg.jpeg");
    background-size: cover;
    height: 800px;
}